body {
    background-color: #110128;
    font-family: Consolas, monaco, monospace;
}

textarea {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
    border: none;
    outline: none;
}

#input {
    padding: 20px;
    padding-top: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    resize: none;
    font-size: 12pt;
    background-color: #16113f;
    color: #acaf00;
    overflow: scroll;
}

#output {
    padding: 20px;
    padding-top: 10px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 12pt;
    border: solid 1px black;
    background-color: #16113f;
    color: white;
    overflow-y: scroll;
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr;
    gap: 10px 10px;
}

.button-holder{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #291e77;
    padding: 10px;
}

.run-button{
    height: 50px;
    width: fit-content;
    text-align: left;
    font-size: 20pt;
    color:white;
    background-color: #acaf00;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
}

.run-button:active{
    background-color: #8b8d00;
}

.running{
    background-color: #757700;
}

.running:active{
    background-color: #757700;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #16113f;
}

::-webkit-scrollbar-corner{
    background: #16113f;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #373163;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #443d79;
    cursor: pointer;
}